@font-face {
  font-family: RobotoMono;
  src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  background-color: var(--aside-background-color);

  font-family: RobotoMono;
  color: var(--text-color);
}

.mascot {
  display: block;
  width: 200px;
  z-index: 2;
}

.welcomeContainer {
  z-index: 2;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.taskMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  box-shadow: var(--aside-bottom-shadow);
}

.taskContainer {
  padding-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: scroll;
  max-height: 300px;
}

.task {
  display: flex;
  min-width: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.taskList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.taskForm {
  display: flex;
  flex-direction: column;
}

.addTask {
  width: 20rem;
  height: 2rem;
  background-color: rgb(144, 216, 238);
}

.createTask {
  width: 20rem;
  height: 2rem;
  background-color: lightgreen;
}

.hideTasks {
  width: 20rem;
  height: 2rem;
  background-color: rgba(255, 111, 0, 0.807);
}

.weather-temp {
  margin-top: 2%;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.weather-sunset {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.weather-wind {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.dateTitle {
  text-align-last: center;
  background-color: var(--faded-background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.taskDiv {
  display: flex;
  background-color: var(--calendarDay-background-color);
  border: 1px black solid;
  border-radius: 0.8rem;
  margin-bottom: 0.3rem;
  overflow-wrap: break-word;
  padding: 5px 10px;
  box-shadow: var(--aside-inset-box-shadow) 0px 30px 60px -12px inset;
}

.taskDateContainer {
  margin: 5px;
}

#hideEditTaskForm {
  background-color: lightcoral;
}

.buttonContainer {
  display: inline-flex;
  margin-left: -10px;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 0.2rem;
}

.holidayInfo {
  margin-bottom: 0.5rem;
}

.taskName {
  font-weight: 600;
  font-size: 1rem;
  max-width: 15rem;
  text-align: center;
}

.taskDescription {
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-weight: 200;
  font-size: 0.8rem;
  color: var(--aside-faded-text-color);
}

.dateTitle {
  box-shadow: var(--aside-inset-box-shadow) 0px 30px 60px -12px inset;
}

.invalidInput {
  border: 2px rgb(255, 2, 2) solid;
}

.formErrorMessage {
  color: red;
}

.compressedInfo {
  display: flex;
  flex-direction: row;
}

.harald {
  z-index: 2;
  ;
}

.dayInfo {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dateInfo {
  font-size: 0.8rem;
  color: var(--aside-faded-text-color);
}

.dailyNames {
  font-size: 0.8rem;
  color: var(--aside-faded-text-color);
}

.weatherContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--aside-faded-text-color);
  margin-bottom: 0.5rem;
}

.fa-solid {
  padding: 5px;
}

.weathercode {
  font-size: 1.5rem;
  color: var(--aside-faded-text-color);
}