@font-face {
  font-family: RobotoMono;
  src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}


aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  background-color: var(--aside-background-color);
  box-shadow: var(--aside-right-shadow);
  font-family: RobotoMono;
  color: var(--text-color);
}

.mascot {
  display: block;
  width: 200px;
}

.welcomeContainer {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

.taskMenu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  box-shadow: var(--aside-bottom-shadow);
}

.taskContainer {
  padding-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.task {
  display: flex;
  min-width: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.taskList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.taskForm {
  display: flex;
  flex-direction: column;
}

.addTask {
  width: 20rem;
  height: 2rem;
  background-color: rgb(144, 216, 238);
}

.createTask {
  width: 20rem;
  height: 2rem;
  background-color: lightgreen;
}

.hideTasks {
  width: 20rem;
  height: 2rem;
  background-color: rgba(255, 111, 0, 0.807);
}

.taskDeleteButton {
  width: 6rem;
  background-color: rgba(252, 38, 31, 0.697);
}

.taskEditButton {
  width: 4rem;
  background-color: rgba(23, 222, 226, 0.791);
}

.weather-temp {
  margin-top: 2%;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.weather-sunset {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.weather-wind {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.dateTitle{
  text-align-last: center;
  background-color: var(--faded-background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}


.taskDiv{
  background-color: var(--calendarDay-background-color);
  border: 1px black solid;
  border-radius: 0.8rem;
  margin-bottom: 0.3rem;

}

.taskDateContainer{
  margin-bottom: 1rem;
}

#hideEditTaskForm {
  background-color: lightcoral;
}

.holidayInfo{
  margin-bottom: 0.5rem;
}

.taskName{
  font-weight: 400;
  font-size: 1rem;
}

.taskDescription{
  font-weight: 200;
  font-size: 0.8rem;
  color: var(--aside-faded-text-color);
}


.dateTitle, .taskDiv{
  box-shadow: var(--aside-inset-box-shadow) 0px 30px 60px -12px inset;
}

.invalidInput{
  border: 2px rgb(255, 2, 2) solid;
}

.formErrorMessage{
  color: red;
}