* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dateHeader-font-size: 3rem;
    --weekday-font-size: calc(0.5rem + 1 * ((100vw + 2rem) / 160));
    --taskAmount-background-color: #6ea076;
    --taskAmount-text-color: #fff;

    --text-color-secondary: #000000;
}

html[data-theme="light"] {
    --main-background-color: #fcfcfc;
    --header-background-color: #fcfcfc;
    --aside-background-color: #fcfcfc;

    --faded-text-color: #464444;
    --faded-background-color: #72727296;

    --text-color: rgb(0, 0, 0);

    --weekdays-background-color: #c9c5c5ea;
    --calendarDay-background-color: rgb(255, 255, 255);
    --hovered-calendarDay-color: rgba(221, 218, 218, 0.675);
    --highlighted-calendarDay-color: #00A4EF;
    --highlighted-hovered-calendarDay-color: rgba(47, 179, 240, 0.800);

    --aside-right-shadow: 3px 0 2px rgba(0, 0, 0, 0.500);
    --aside-bottom-shadow: 0.5px 3px 2px rgba(0, 0, 0, 0.500);
    --header-bottom-shadow: -8px 1px -8px 5px black;

    --aside-faded-text-color: rgb(30, 30, 30);
    --aside-inset-box-shadow: rgba(50, 50, 93, 0.25);
}

html[data-theme="dark"] {
    --main-background-color: rgb(71, 71, 68);
    --header-background-color: rgb(71, 71, 68);
    --aside-background-color: rgb(71, 71, 68);

    --text-color: #fff;

    --faded-text-color: #706f6f;
    --faded-background-color: #29292941;

    --weekdays-background-color: #ebe7e7ea;
    --calendarDay-background-color: rgb(90, 87, 87);
    --hovered-calendarDay-color: rgba(90, 87, 87, 0.675);
    --highlighted-calendarDay-color: #00A4EF;
    --highlighted-hovered-calendarDay-color: rgba(47, 179, 240, 0.800);

    --aside-right-shadow: 3px 0 2px rgba(0, 0, 0, 0.500);
    --aside-bottom-shadow: 0.5px 3px 2px rgba(0, 0, 0, 0.500);
    --header-bottom-shadow: -8px 1px -8px 5px black;

    --aside-faded-text-color: rgb(212, 211, 211);
    --aside-inset-box-shadow: rgba(255, 255, 255, 0.25);
}

body {
    background-color: var(--main-background-color);
    height: 100vh;
    scrollbar-width: none;
}


.layout {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas:
        "head head head head"
        "aside main main main"
        "aside main main main"
        "aside main main main";
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 2fr);
        grid-template-areas:
            "head"
            "aside"
            "aside"
            "aside";
    }

    main {
        display: none;
    }

    #switchbutton {
        display: none;
    }

    .bottom-border-shadow {
        height: 3px;
    }
}

.centered {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}



::-webkit-scrollbar {
    display: none;
}

/* ::scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    /* IE 11 */
/* scrollbar-width: none; */
/* Firefox 64 
}*/