header {
    display: flex;
    flex-direction: column;
    grid-area: head;
    background: url('./../images/2203_w022_n001_567b_p15_567.jpg');
    background-size: cover;
    align-items: center;
    position: relative;
    color: #fff;
}

#switchbutton {
    display: flex;
    z-index: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 100%;
    cursor: pointer;
}

.calendar-header {
    display: flex;
    color: var(--text-color);
    flex-direction: row;
    justify-content: space-between;
}

.calenderHeaderTitle {
    padding: 5px;
    display: flex;
    font-size: var(--dateHeaderMonth-font-size);
    font-weight: bold;
}