main {
    display: flex;
    grid-area: main;
    background-color: var(--main-background-color);

}

.calendarContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.calendar {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.weekdays {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 10px 0 10px;
}

.weekday {
    display: inline-grid;
    justify-content: center;
    color: var(--text-color);
    font-size: var(--weekday-font-size);
    font-weight: bold;
}

.calendarDay {
    border: solid 1px rgba(0, 0, 0, 0.70);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
    background-color: var(--calendarDay-background-color);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

.redDay {
    color: #ff0000;
}

.calendarDay:hover {
    background-color: var(--hovered-calendarDay-color);
    color: rgba(216, 203, 203, 0.753);
}

.redDay:hover {
    color: #cc3030;
}

.calendarDay p {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}

.taskAmount {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background-color: var(--weekdays-background-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--text-color-secondary);
}

.taskAmount:hover {
    box-shadow: 0 0 5px rgba(245, 245, 245, 0.7);
}

.taskAmount p {
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 12px;
}

.faded {
    color: var(--faded-text-color);
    background-color: var(--faded-background-color);
}

.current {}

.highlighted {
    background-color: var(--highlighted-calendarDay-color);
}

.highlighted:hover {
    background-color: var(--highlighted-hovered-calendarDay-color);

}

.highlighted.selected {
    margin: -3px;
    border: solid 3px rgb(42, 42, 44);
}

.selected {
    margin: -3px;
    border: solid 3px #00A4EF;
}

#canvas {
    background-color: transparent;
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
}