main {
    display: flex;
    grid-area: main;
    background-color: var(--main-background-color);

}

.calendarContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.calendar {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr, repeat(6, 1fr);
    gap: 10px;
}

.weekdays {
    border-radius: 10px;
    background-color: var(--weekdays-background-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.weekday {
    display: inline-grid;
    justify-content: center;
    color: var(text-color);
    font-size: var(--weekday-font-size);
    font-weight: bold;
    padding: 10px;
}

.calendarDay {
    display: inline-grid;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: var(--calendarDay-background-color);

    color: var(text-color);
    cursor: pointer;
}

.calendarDay:hover {
    background-color: var(hovered-calendarDay-color);
    color: rgb(216, 203, 203);
}

.calendarDay p {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}

.faded {
    color: #464444;
}

.current {}

.highlighted {
    background-color: var(--highlighted-calendarDay-color);
}

.highlighted:hover {
    background-color: var(--highlighted-hovered-calendarDay-color);

}

.highlighted.selected {
    margin: -3px;
    border: solid 3px rgb(42, 42, 44);
}

.selected {
    margin: -3px;
    border: solid 3px #00A4EF;
}