.asideContainer {
    width: 100%;
    height: 100%;
    margin: 0 1rem;
    display: flex;

}

.showCreateTaskButton {
    width: 5rem;   
    height: 2rem;
    background-color: lightpink;
}

#taskForm {
    display: flex;
    flex-direction: column;
}
#taskForm input {
    margin: 1rem 0;
}