* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    height: 923px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas:
        "head head head head"
        "aside main main main"
        "aside main main main"
        "aside main main main";

}

header {
    display: flex;
    grid-area: head;
    background-color: rgb(71, 71, 68);
    border-bottom: solid 2px rgba(0, 0, 0, 0.11);
}

main {
    display: flex;
    grid-area: main;
    background-color: rgb(136, 136, 136);

}

aside {
    display: flex;
    grid-area: aside;
    background-color: rgb(118, 118, 124);

}

.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarContainer {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;

}


.calendarDay {
    display: inline-grid;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(90, 87, 87);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.calendarDay:hover {
    background-color: rgba(90, 87, 87, 0.675);
    color: rgb(216, 203, 203);
}

.calendarDay p {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}

.faded {
    color: #464444;
}

.current {}

.highlighted {
    background-color: #00A4EF;
}

.highlighted:hover {
    background-color: rgba(47, 179, 240, 0.800);
}

.highlighted.selected {
    border: solid 3px rgb(42, 42, 44);
}

.selected {
    border: solid 5px #00A4EF;
}

.centered {
    display: flex;
    justify-content: center;
}

.calendarHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.calendarHeaderYear {
    padding: 5px;
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}

.calendarHeaderMonth {
    padding: 5px;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}